<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>



  <body>
    <%- include('./partials/nav.ejs') %>
      <h1>
        <%=Heder%>
      </h1>

      <!-- Head Form spesification  -->
      <div class="DivConteiner">


        <form id="form_spec" method="post" action="#" onload="Form_refresh()" onsubmit="FormSubmit()">
          <fieldset>
            <legend>
              mode
            </legend>

            <input type="button" value="◄back " onclick="document.location.replace('/specifications-list')">

            <% if (!dataset.length) { %>
              <input type="submit" value="Add First Record" name="AddFirst">
              <% } %>

                <input type="button" value="Refresh" onclick="Form_refresh()">
                <input type="hidden" ; name="RowData">
          </fieldset>

          <div class="datatable">
            <% if (dataset.length) { %>

              <table name="TableData" id="TableData">
                <tr>
                  <th>•</th>
                  <th>Action</th>
                  <th>code</th>
                  <th>name</th>
                  <th>redistribution</th>
                  <th>active</th>
                  <th>appropval_date</th>
                  <th>isapproval</th>
                  <th>comment</th>



                </tr>
                <% dataset.forEach( ({s_id, s_name, s_active, s_appropval_date, s_isapproval, s_comment,
                  s_code,sp_rp_id, sc_count,r_count })=> { %>
                  <tr>

                    <td>
                      <input style="color:rgb(38, 87, 76)" type="hidden" ; name="s_id" ; size="5" ; readonly ; value=<%-
                        s_id %> >
                    </td>
                    <td>

                      <select style="color:rgb(243, 169, 85) ; background-color: rgb(31, 45, 46);"
                        class="SelectDropDown" Name="RecMode" ; Size="Number_of_options">

                        <option class="OptionListSelected" ; value="CountComponent">
                          Count-<%= sc_count %>/<%= r_count %>
                        </option>

                        <option class="OptionListSelected" ; value="Update">
                          Update
                        </option>


                      </select>

                    </td>
                    <td>
                      <input type="text" ; name="s_code" ; size="20" ; value=<%- s_code %> >
                    </td>
                    <td>
                      <textarea name="s_name" ; rows="1" ; cols="30">  <%- s_name %> </textarea>
                    </td>

                    <td>

                      <select class="SelectDropDown" Name="sp_rp_id" ; Size="Number_of_options">

                        <% if (rp_dataset.length) { %>
                          <% rp_dataset.forEach(({rp_id, rp_name })=> { %>

                            <% if (rp_id==sp_rp_id) { %>
                              <option class="OtionListSelected" value=<%=rp_id%> selected>
                                <% } else { %>
                              <option class="OtionList" value=<%=rp_id%>>
                                <% } %>
                                  <%=rp_name%>
                              </option>

                              <% }) %>
                                <% } %>
                      </select>


                    </td>

                    <td>

                      <select class="SelectDropDown" Name="s_active" ; Size="Number_of_options">


                        <% if (s_active) { %>
                          <option selected class="OptionListSelected" ; value="true">
                            yes
                          </option>
                          <option class="OptionListSelected" ; value="false">
                            no
                          </option>
                          <% } else { %>
                            <option class="OptionListSelected" ; value="true">
                              yes
                            </option>
                            <option selected class="OptionListSelected" ; value="false">
                              no
                            </option>

                            <% } %>

                      </select>


                    </td>

                    <td>
                      <input type="date" ; name="s_appropval_date" ; size="9" ; value=<%- s_appropval_date %> >
                    </td>
                    <td>
                      <select class="SelectDropDown" Name="s_isapproval" ; Size="Number_of_options">

                        <% if (s_isapproval) { %>
                          <option selected class="OptionListSelected" ; value="true">
                            yes
                          </option>
                          <option class="OptionListSelected" ; value="false">
                            no
                          </option>
                          <% } else { %>
                            <option class="OptionListSelected" ; value="true">
                              yes
                            </option>
                            <option selected class="OptionListSelected" ; value="false">
                              no
                            </option>

                            <% } %>

                      </select>

                    </td>
                    <td>
                      <textarea name="s_comment" ; rows="1" ; cols="15">  <%- s_comment %> </textarea>
                    </td>


                  </tr>

                  <% }) %>
                    <% } %>
              </table>
          </div>

        </form>
      </div>


      <!-- Details Form spesification components  -->
      <div class="DivConteiner">


        <form id="form_comp" method="post" action="accept-data" onload="Form_refresh()" onsubmit="FormSubmit()">

          <% if (!comp_dataset.length) { %>
            <input type="submit" value="Add First Record" name="AddFirstComp">
            <% } %>
              <input type="hidden" ; name="RowDataComp">
              <input type="hidden" ; name="SpID">



              <div class="datatable">
                <% if (comp_dataset.length) { %>

                  <table name="TableDataComp" id="TableDataComp">
                    <tr>
                      <th>•</th>
                      <th>Action</th>
                      <th>type</th>
                      <th>code</th>
                      <th>good</th>
                      <th>unit</th>
                      <th>quantity</th>
                      <th>comment</th>
                      <th>valid from</th>


                    </tr>
                    <% comp_dataset.forEach( ({gh_code,sc_id, s_id, g_id, gu_id, sc_quantity, sc_comment,
                      sc_et_code,cisnode,cfullname,start_date })=> { %>
                      <tr>

                        <td>
                          <input style="color:rgb(70, 180, 85)" type="text" ; name="sc_id" ; size="5" ; readonly ;
                            value=<%- sc_id %> >
                        </td>
                        <td>

                          <select style="color:rgb(243, 169, 85) ; background-color: rgb(31, 45, 46);"
                            class="SelectDropDown" Name="CompRecMode" ; Size="Number_of_options">

                            <option class="OptionListSelected" ; value="Menu">
                              Menu
                            </option>

                            <option class="OptionListSelected" ; value="Update">
                              Update
                            </option>
                            <% if (sc_et_code=="0201" ) { %>
                              <option class="OptionListSelected" ; value="Set valid">
                                Set valid
                              </option>

                              <% } %>
                                <option class="OptionListSelected" ; value="AddNew">
                                  AddNew
                                </option>
                                <option class="OptionListSelected" ; value="Dublicate">
                                  Dublicate
                                </option>
                                <option class="OptionListSelected" ; value="Drop">
                                  Drop
                                </option>


                          </select>

                        </td>
                        <td>
                          <select class="SelectDropDown" Name="et_code" ; Size="Number_of_options">

                            <% if (et_dataset.length) { %>
                              <% et_dataset.forEach(({et_code, et_name })=> { %>

                                <% if (et_code==sc_et_code) { %>
                                  <option class="OtionListSelected" value=<%=et_code%>
                                    selected>
                                    <% } else { %>
                                  <option class="OtionList" value=<%=et_code%>>
                                    <% } %>
                                      <%= et_name%>
                                  </option>

                                  <% }) %>
                                    <% } %>
                          </select>
                        </td>
                        <td>

                          <% if (cisnode) { %>
                            
                            <% if (sc_et_code=="0201" ) { %>

                              <input  class="InputIcon" type="text" name="gh_code" ; size="20" ; readonly ; value=<%- gh_code %> >
                              <% } else { %>
                                <input  class="InputIconExit" type="text" name="gh_code" ; size="20" ; readonly ; value=<%- gh_code %> >                                
                                <% } %>




                            <% } else { %>
                              <input type="text" ; name="gh_code" ; size="20" ; readonly ; value=<%- gh_code %> >
                              <% } %>
                        </td>

                        <td>
                          <select class="SelectDropDown" Name="ghcode" ; Size="Number_of_options">

                            <% if (g_dataset.length) { %>
                              <% g_dataset.forEach(({ ghcode, gid , gname , gisnode })=> { %>


                                <% if (g_id==gid) { %>
                                  <option class="OtionListSelected" value=<%=ghcode%> selected>
                                    <% } else { %>
                                  <option class="OtionList" value=<%=ghcode%>>
                                    <% } %>
                                      <%=gname%>
                                        <% if (gisnode) { %>
                                          ☼
                                          <% } %>

                                  </option>

                                  <% }) %>
                                    <% } %>
                          </select>
                        </td>

                        <td>
                          <select class="SelectDropDown" Name="gu_id" ; Size="Number_of_options">

                            <% if (u_dataset.length) { %>
                              <% u_dataset.forEach(({ guid, guname, goodid, guisig})=> { %>

                                <% if (g_id==goodid) { %>

                                  <% if (gu_id==guid) { %>
                                    <option class="OtionListSelected" value=<%=guid%> selected>
                                      <% } else { %>
                                    <option class="OtionList" value=<%=guid%>>
                                      <% } %>
                                        <%=guname%>
                                    </option>
                                    <% } %>
                                      <% }) %>
                                        <% } %>
                          </select>
                        </td>

                        <td>
                          <input type="text" ; name="sc_quantity" ; size="10" ; value=<%- sc_quantity %> >
                        </td>


                        <td>
                          <textarea name="sc_comment" ; rows="1" ; cols="15">  <%- sc_comment %> </textarea>
                        </td>

                        <td>
                          <% if (sc_et_code=="0201" ) { %>

                            <input class="InputIcon" type="date" ; name="start_date" ; size="9" ; value=<%- start_date %> >
                            <% } else { %>
                              <input type="hidden" ; name="start_date" ; value=<%- start_date %> >
                              <% } %>

                        </td>

                      </tr>

                      <% }) %>
                        <% } %>
                  </table>
              </div>

        </form>
      </div>


      <script>

        var table = document.getElementById("TableData"), rIndex;
        var RetRowStr = '';
        var form = document.getElementById("form_spec");
        var wc = document.getElementsByName("RowData");

        var table_comp = document.getElementById("TableDataComp"), rIndex;
        var RetRowStr_Comp = '';
        var form_comp = document.getElementById("form_comp");
        var wc_comp = document.getElementsByName("RowDataComp");



        for (var i = 1; i < table.rows.length; i++) {
          table.rows[i].onchange = function () {
            rIndex = this.rowIndex;
            //console.log(this.cells[1].innerHTML);
            //var wc = document.getElementsByName("RowData");
            RetRowStr = '{';
            RetRowStr = RetRowStr + '"s_id":"' + document.getElementsByName("s_id")[rIndex - 1].value + '",';
            RetRowStr = RetRowStr + '"s_name":"' + (document.getElementsByName("s_name")[rIndex - 1].value).trim() + '",';
            RetRowStr = RetRowStr + '"s_code":"' + document.getElementsByName("s_code")[rIndex - 1].value + '",';
            RetRowStr = RetRowStr + '"s_appropval_date":"' + document.getElementsByName("s_appropval_date")[rIndex - 1].value + '",';
            RetRowStr = RetRowStr + '"RecMode":"' + document.getElementsByName("RecMode")[rIndex - 1].value + '",';
            RetRowStr = RetRowStr + '"s_comment":"' + (document.getElementsByName("s_comment")[rIndex - 1].value).trim() + '",';
            RetRowStr = RetRowStr + '"s_active":"' + (document.getElementsByName("s_active")[rIndex - 1].value) + '",';
            RetRowStr = RetRowStr + '"sp_rp_id":"' + (document.getElementsByName("sp_rp_id")[rIndex - 1].value) + '",';
            RetRowStr = RetRowStr + '"s_isapproval":"' + (document.getElementsByName("s_isapproval")[rIndex - 1].value) + '"}';

            var CurMode = document.getElementsByName("RecMode")[rIndex - 1].value;
            console.log(CurMode);
            if (CurMode == 'Update') {

              wc[0].value = RetRowStr;
              form.setAttribute("action", "/specifications-list-accept-data");
              form.submit();
            };

          };
        };

        for (var i = 1; i < table_comp.rows.length; i++) {
          table_comp.rows[i].onchange = function () {
            rIndex = this.rowIndex;

            //(typeof AddFirstComp == 'undefined') ? 'undefined' : AddFirstComp

            RetRowStr_Comp = '{';
            RetRowStr_Comp = RetRowStr_Comp + '"RecMode":"' + document.getElementsByName("CompRecMode")[rIndex - 1].value + '",';
            RetRowStr_Comp = RetRowStr_Comp + '"sc_id":"' + document.getElementsByName("sc_id")[rIndex - 1].value + '",';
            RetRowStr_Comp = RetRowStr_Comp + '"et_code":"' + (document.getElementsByName("et_code")[rIndex - 1].value) + '",';
            RetRowStr_Comp = RetRowStr_Comp + '"ghcode":"' + (document.getElementsByName("ghcode")[rIndex - 1].value) + '",';
            RetRowStr_Comp = RetRowStr_Comp + '"gu_id":"' + (document.getElementsByName("gu_id")[rIndex - 1].value) + '",';
            RetRowStr_Comp = RetRowStr_Comp + '"sc_quantity":"' + (document.getElementsByName("sc_quantity")[rIndex - 1].value) + '",';
            RetRowStr_Comp = RetRowStr_Comp + '"start_date":"' + (document.getElementsByName("start_date")[rIndex - 1].value) + '",';
            RetRowStr_Comp = RetRowStr_Comp + '"sc_comment":"' + (document.getElementsByName("sc_comment")[rIndex - 1].value) + '"}';

            //подмены
            document.getElementsByName("gh_code")[rIndex - 1].value = document.getElementsByName("ghcode")[rIndex - 1].value;

            var CurMode_comp = document.getElementsByName("CompRecMode")[rIndex - 1].value;
            console.log(CurMode_comp);
            if (CurMode_comp != 'Menu') {

              wc_comp[0].value = RetRowStr_Comp;
              document.getElementsByName("SpID")[0].value = document.getElementsByName("s_id")[0].value;
              form.setAttribute("action", "/specifications-list-accept-data");
              form_comp.submit();
            };


          };
          table_comp.rows[i].ondblclick = function () {
            rIndex = this.rowIndex;
            form_comp.setAttribute("action", '/goods_edit/' + document.getElementsByName("ghcode")[rIndex - 1].value
              + ' : ' + document.getElementsByName("ghcode")[rIndex - 1].value);
            form_comp.setAttribute("method", "get");
            form_comp.submit();
          };

        };


        window.onblur = function () { window.onfocus = function () { location.reload(true) } };

        function Form_refresh() { location.reload(true); };

        function FormSubmit() {
          wc_comp[0].value = RetRowStr_Comp;
          document.getElementsByName("SpID")[0].value = document.getElementsByName("s_id")[0].value;
        };

      </script>

  </body>

</html>